@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #000;
    overflow-x: hidden;
}
main {
    flex-grow: 1;
}
.loading-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgb(129, 129, 129);
    z-index: 1000;
    transition: opacity 1s linear;
}
.kinetic {
    position: relative;
    width: 80px;
    height: 80px;
}
.kinetic::after, 
.kinetic::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 50px solid transparent;
    border-bottom-color: #fff;
    animation: rotateA 2s linear infinite 0.5s;
}
.kinetic::before{
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite;
}

@keyframes rotateA {
    0%, 25%{
        transform: rotate(0deg);
    }
    50%, 75%{
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateB {
    0%, 25%{
        transform: rotate(90deg);
    }
    50%, 75%{
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(450deg);
    }
}

.container {
    background-color: #fafafa;
    min-width: 100vw;
    padding: 50px;
    transform-origin: top left;
    transition: transform 0.5s linear;
}

.container.show-nav {
    transform: rotate(-20deg);
    transform-origin: top left;
}
.container.show-nav + .sitenav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}
.container.show-nav .circle{
    transform: rotate(-70deg);
}
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}
.circle {
    height: 200px;
    width: 200px;
    background-color: #ff7979;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}
.circle button {
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
}
.circle button:focus {
    outline: none;
}
.circle button#open {
    left: 65%;
}
.circle button#close {
    top: 70%;
    transform: rotate(90deg);
    transform-origin: top left;
}
.content {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;
}
.content-heading {
    margin: 0;
}
.content-author {
    display: inline-block;
    color: #555;
    font-style: italic;
    margin-bottom: 20px;
}
.content-text {
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;

}
.content-title {
    margin-bottom: 20px;
}
.content-img {
    width: 100%;
    display: flex;
}

.sitenav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 1;
}
.sitenav-list {
    list-style-type: none;
    padding-left: 30px;
}
.sitenav-list li + li {
    margin-left: 15px;
    transform: translateX(-150%);

}
.sitenav-list li + li + li{
    margin-left: 30px;
    transform: translateX(-200%);

}
.sitenav-item {
    margin: 40px 0;
    transition: transform 0.4s ease-in;
    transform: translateX(-100%);
}
.sitenav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.sitenav-link:hover {
    color: #ff7979;
}
.sitenav-link i{
    margin-right: 10px;
}
.fas {
}
.fa-home {
}
.fa-user-alt {
}
.fa-envelope {
}